.login-websites {
  width: 100%;
  height: 35px;
  background-color: #1c1f22;
}

.login-websites a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
}

.login-websites i {
  margin-right: 10px;
}

.login-box {
  display: flex;
  height: calc(100vh - 35px);
  background-color: #e9ecef;
}

.login-card {
  margin: auto;
  width: 320px;
  background-color: #fff;
  padding: 30px 20px;
  box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
  border-radius: 3px;
}

.login-msg {
  font-size: 1.6rem;
  margin-bottom: 16px;
  text-align: center;
  text-transform: capitalize;
  color: #272727;
}

.form-group {
  width: 100%;
  height: 38px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border: 2px solid #ddd;
  border-radius: 3px;
}

.login-icon {
  border-right: 2px solid #ddd;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 6px 12px;
  color: #272727;
}

.form-input {
  height: 100%;
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 6px 12px;
  font-size: 1.4rem;
  color: #272727;
}

.form-btn {
  width: 100%;
  height: 38px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #3797A4;
  border-radius: 3px;
}