@media (max-width: 1280px) {
  .sidebar {
      transition: transform 0.3s ease-in-out;
      max-width: 100%;
      z-index: 99;
      transform: translateX(-100%);
  }

  .sidebar.active {
      transform: translateX(0);
  }

  .main {
      padding-left: 0;
  }

  .mobile-toggle,
  .sidebar-close {
      display: grid;
      place-items: center;
      font-size: 2rem;
      margin-right: 30px;
      cursor: pointer;
  }

  .sidebar-close {
      position: absolute;
      right: -15px;
  }
}
